# Built application files
*.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.hprof
*.iml
*.log
*.tmp
**/.idea
**/build
**/inspectionProfiles
**/lint
**/local.properties
.cxx
.DS_Store
.externalNativeBuild
.gradle/
.idea/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.navigation/
bin/
captures/
gen/
out/
proguard/
vcs.xml
app/release/output-metadata.json
